@charset "UTF-8";

@font-face {
    font-family: 'EmilysCandy';
    src: url(fonts/EmilysCandy-Regular.ttf) format('truetype');
    font-display: swap;
}
@font-face {
    font-family:'Ballet';
    src: url(fonts/Ballet-Regular-VariableFont_opsz.ttf) format('truetype');
    font-display: swap;
}
@font-face {
    font-family:'MeaCulpa';
    src: url(fonts/MeaCulpa-Regular.ttf) format('truetype');
    font-display: swap;
}

:root {
    --cor1:#0C172F;
    --cor2:#6D3263;
    --cor3:#DF6283;
    --cor4:#FFA793;
    --cor5:#FCFCA4;

    --font1:'EmilysCandy', Arial, Helvetica, sans-serif;
    --font2:'Ballet', Cursive;
    --font3:'MeaCulpa', Cursive;
}
*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: var(--cor1);
    color: var(--cor5);
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.356);
}
header > h1 {
    font-family: var(--font2);
    font-size: 8vw;
    text-shadow: 2px 2px black;
    padding-top: 5vh;
    padding-bottom: 8px;
}
header > p {
    font-family: var(--font3);
    font-size: 5vw;
    text-shadow: 2px 2px black;
    padding-bottom: 5vh;
}

.audio {
    background-color: white;
    margin-top: 3px;
    display: flex;
    justify-content: center;
}
nav > audio {
    display: block;
    height: 5vh;
    width: 50vw;
}

section {
    margin: 10vh 0px;
}

section > p {
    padding: 70px 0px;
}

section#normal {
    font-family: var(--font1);
    text-indent: 5px;
    padding: 2vw;
    font-size: 6vw;
    line-height: 9vw;
}

section.fotu {
    font-family: var(--font3);
    font-size: 8vw;
    text-indent: 10px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.678);
    box-shadow: inset 3px 3px 3px 3px rgba(0, 0, 0, 0.274);
}
section.fotu > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.459);
    color: var(--cor5);
    padding: 30px;
    margin: 25vh 10vw;
    border-radius: 10px;
}

#foto1 {
    background-image: url(foto/foto\ \(1\).jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#foto2 {
    background-image: url(foto/foto\ \(2\).jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#foto3 {
    background-image: url(foto/foto\ \(3\).jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

footer {
    background-color: var(--cor1);
    color: var(--cor5);
    font-family: var(--font2);
    text-align: center;
    font-size: 5vw;
    padding: 8px;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.281);
}